body{
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    margin-bottom: 150px;
    display: flex;
}
.title-summary{
    color: rgba(155, 8, 8, 0.966);
    text-align: center;
}
.orange-color{
    color: orange;
}
.title-blogs{
    font-weight: 700;
}
.half-width{
    width: 50%;
    padding: 20px;
}
.half-width img{
    width: 80%;
    
}
.anchor-tag{
    background-image: linear-gradient(salmon,tomato);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.head-away{
    padding-left: 100px;
}
.mid-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(salmon, hsl(0, 23%, 52%));
    border-radius: 3px;
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-radius: 3px;
    border-image-slice: 1;
}
.dev-experience{
    width: 40%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    margin-bottom: 100px;
}
footer p{
    text-align: center;
}